#ticketForm {
  backdrop-filter: blur(4px);
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

#ticketForm input,
#ticketForm textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.submit-btn {
  background: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}
